@import "fonts.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Merienda-Regular', cursive;
    font-size: 14px;
    line-height: 20px;
}

h1 {
    font-family: "Merienda-Bold", cursive;
    font-size: 2.86em;
    line-height: 58px;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1, h2, span, p {
    cursor: default;
}

.coffee__house {
    position: relative;

}

.coffee__house:before {
    position: absolute;
    top: -17px;
    left: -35px;
    content: "";
    width: 35px;
    height: 35px;
    background-image: url("../images/coffee-beans.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

}

.btn {
    font-family: Merienda, cursive;
    padding: 5px 42px;
    border: 1px solid #fff;
    color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: rgba(255, 255, 255, 0);
    border-radius: 3px;
}

.btn:hover {
    color: #f3f3f3;
    border: 1px solid #f3f3f3;
    background: rgba(255, 255, 255, 0.15);
}


header {
    /*height: 440px;*/
    padding-bottom: 200px;
    padding-top: 30px;
    background-image: url("../images/bg/header_first_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container {
    max-width: 840px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.navbar .nav__wrapper {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav__wrapper .nav__item a {
    font-size: 12px;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;

}

.header__section {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.header__section div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__section span {
    font-family: Merienda-Bold, cursive;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
    padding-bottom: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main section {
    text-align: center;
}

/*section_1*/
.section_1 {
    padding-top: 80px;
    padding-bottom: 101px;
}

.section_1 h2 {
    margin-bottom: 20px;
}

.section_2 {
    background-image: url("../images/bg/sec_2_first_page_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 80px;
    padding-bottom: 110px;
}

.section_2 h2 {
    margin-bottom: 40px;
}

/*.section_2 .container__cards {*/
/*    display: flex;*/
/*    !*justify-content: space-between;*!*/
/*    gap: 71px;*/
/*    flex-wrap: wrap;*/
/*}*/


/*footer*/

